<div class="graph-container">
  <div class="container">
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <app-volume-chart circuitId="1"></app-volume-chart>
    <app-pressure-chart circuitId="1"></app-pressure-chart>
    <app-flow-chart circuitId="1"></app-flow-chart>
  </div>
  <div class="container">
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <app-volume-chart circuitId="2"></app-volume-chart>
    <app-pressure-chart circuitId="2"></app-pressure-chart>
    <app-flow-chart circuitId="2"></app-flow-chart>
  </div>  
</div>